@import '../../../../variables';
@import '../../../../mixins';

.row {
  margin: auto;

  &__bar--negative {
    .row__bar-primary,
    .row__bar-secondary {
      right: 0;
    }

    .row__bar-value {
      bottom: -4px;
      left: 0;
      position: absolute;
      right: auto;
    }
  }

  &--negative {
    text-align: center;
  }

  &--negative &__bar {
    height: 60px;
    margin-bottom: 40px;
    margin-top: -25px;
    width: 50%;
  }

  &--negative &__title {
    border-bottom: solid 3px $primary-color;
    display: inline;
  }

  &--negative &__bar-primary {
    height: 60px;
  }

  &__title {
    box-sizing: border-box;
    color: $orange;
    display: inline-block;
    font-size: 1rem;
    overflow: hidden;
    padding-top: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &__bar {
    display: block;
    font-size: 1rem;
    line-height: 2.1rem;
    position: relative;
    width: 100%;

    @include tablet-up {
      display: inline-block;
      width: 100%;
    }

    &-primary,
    &-secondary {
      border-bottom: solid 6px $primary-color;
      box-sizing: border-box;
      color: $primary-color;
      position: absolute;
    }

    &-secondary {
      border-bottom: solid 6px $secondary-color;
      color: $secondary-color;
      height: 54px;
      line-height: 1.5rem;
    }
  }

  &__bar-value {
    bottom: -4px;
    font-size: 0.7rem;
    position: absolute;
    right: 0;
    @include tablet-up {
      font-size: 1.2rem;
    }
  }

  &__bar-primary &__bar-value {
    bottom: -30px;
    @include tablet-up {
      bottom: -33px;
    }
  }
}
