@import '../../variables';
@import '../../mixins';
/* stylelint-disable */
:export {
  enter: $max-enter-duration;
  exit: $max-exit-duration;
}
/* stylelint-enable */

.categories {
  position: relative;
  z-index: 1;
  @include desktop-up {
    max-width: 475px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;

    &__category {
      margin-bottom: 20px;
    }
  }

  &--all {
    @include desktop-up {
      max-width: 140px;

      .categories__container {
        flex-wrap: wrap;
        position: absolute;
      }
    }
  }

  &__category-fade {
    @include fade;
  }

  &__container {
    @include tablet-up {
      align-items: flex-start;
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
    }
  }

  &__category-container {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    user-select: none;

    @include tablet-up {
      border: solid 1px $orange;
      margin-top: 0;
      width: 225px;
    }

    @include desktop-up {
      max-width: 140px;
      width: 225px;
    }
  }

  &__category-title {
    @include button;
    background-color: $trans-orange;
    border: none;
    border-bottom: solid 1px $orange;
    color: $orange;
    width: 100%;
  }

  &__subcategory-value {
    display: inline-block;
    font-family: 'SanFranciscoText-RegularItalic';
    width: 39%;

    &--primary,
    &--secondary {
      display: inline-block;
      text-align: center;
      width: 50%;
    }

    &--primary {
      color: $primary-color;
    }

    &--secondary {
      color: $secondary-color;
    }

    @include tablet-up {
      display: none;
    }
  }

  &__subcategory-title,
  &__paris {
    @include button;
    border-style: none;
  }

  &__subcategory {
    margin-top: 10px;
    width: 100%;
    @include tablet-up {
      border: none;
      margin: 0 0 2px;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--all &-title {
      width: 100%;
    }
  }

  &__subcategory--all {
    @include mobile-only {
      display: inline-block;
      width: calc(50% - 7px);
    }
  }

  &__subcategory-title {
    border: solid 1px $orange;
    display: inline-block;
    width: 60%;

    @include tablet-up {
      border: none;
      display: inline-block;
      width: 100%;
    }
  }

  &__paris {
    border: solid 1px $orange;
    margin-top: 1rem;
  }
}
