@import '../../variables';
@import '../../mixins';
/* stylelint-disable */
:export {
  enter: $max-enter-duration;
  exit: $max-exit-duration;
}
/* stylelint-enable */

.categories {
  position: relative;
  @include desktop-up {
    max-width: 475px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  &__category-fade {
    @include fade;
  }

  &__container {
    @include tablet-up {
      align-items: flex-start;
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
    }
  }

  &__category-container {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    @include tablet-up {
      border: solid 1px $orange;
      margin-top: 0;
      width: 225px;
    }

    @include desktop-up {
      max-width: 140px;
      width: 225px;
    }
  }

  &__category-title {
    @include button;
    background-color: $trans-orange;
    border: none;
    border-bottom: solid 1px $orange;
    color: $orange;
    width: 100%;
  }

  &__subcategory-title,
  &__paris {
    @include button;
    border-style: none;
  }

  &__subcategory-title {
    margin-top: 10px;
    width: calc(50% - 5px);
    @include tablet-up {
      margin: 0;
      width: 100%;
    }
  }

  &__subcategory-title:nth-of-type(2n + 1) {
    margin-left: 0;
  }

  &__paris {
    border: solid 1px $orange;
    margin-top: 1rem;
  }
}
