@import '../../../../variables';
@import '../../../../mixins';

$primary-gridline-color: rgba($orange, 0.2);
$secondary-gridline-color: rgba($orange, 0.1);
/* stylelint-disable */
:export {
  enter: $max-enter-duration;
  exit: $max-exit-duration;
}
/* stylelint-enable */

.duel-comparisons {
  height: 40vh;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  &__row-fade {
    // @include create(97px, 100%);
  }
}
