@import '../../../../variables';
@import '../../../../mixins';

/* stylelint-disable */
:export {
  enter: $max-enter-duration;
  exit: $max-exit-duration;
}
/* stylelint-enable */

.duel-comparisons {
  padding-top: 26px;

  &__row-fade {
    @include create(97px, 100%);
  }
}
