@import '../../variables';
@import '../../mixins';

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto 0;
  max-width: 975px;
  width: 100%;

  &__back,
  &__all {
    border: solid 1px $orange;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
    padding: 0 40px;
    text-align: center;
    width: 100%;

    @include tablet-up {
      margin: 0;
      width: auto;
    }

    &:hover {
      background-color: $trans-orange;
    }
  }

  &__label {
    @include button;
    &:hover {
      background-color: transparent;
    }
  }
}
