@import '../../variables';
@import '../../mixins';

.app {
  background-color: $bg-grey;
  margin: 0 30px;

  &__body {
    padding-bottom: 175px;

    @include desktop-up {
      padding-bottom: 100px;
    }
  }

  &__container {
    margin: auto;
    max-width: 975px;
    position: relative;
    width: 100%;
  }
}
