@import '../../../../variables';
@import '../../../../mixins';

/* stylelint-disable */
:export {
  enter: $max-enter-duration;
  exit: $max-exit-duration;
}
/* stylelint-enable */

.top-comparisons {
  &__toggle-expand {
    color: $orange;
    cursor: pointer;
  }

  &__toggle-expand-container {
    margin-top: 10px;
    text-align: center;
    width: 100%;
  }

  &__toggle-sort {
    color: $orange;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
  }

  &__row-fade {
    @include create(64px, 100%);

    &-enter,
    &-appear,
    &-exit {
      transition-timing-function: linear;
    }
  }
}
