@import '../../../../variables';
@import '../../../../mixins';

.top-comparisons {
  &__toggle-expand {
    color: $orange;
    cursor: pointer;
  }

  &__toggle-expand-container {
    margin-top: 10px;
    text-align: center;
    width: 100%;
  }

  &__toggle-sort {
    color: $orange;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
  }

  &__row {
    height: 60px;

    &-title {
      box-sizing: border-box;
      color: $orange;
      display: inline-block;
      float: left;
      font-size: 1rem;
      height: 60px;
      padding-top: 17px;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      text-overflow: ellipsis;
      @include tablet-up {
        width: 160px;
        border-bottom: solid 12px $orange;
      }
    }
  }

  &__row-bar {
    display: block;
    font-size: 1rem;
    height: 60px;
    line-height: 2.1rem;
    position: relative;
    width: 100%;

    @include tablet-up {
      display: inline-block;
      width: calc(100% - 160px);
    }

    &-active {
      border-bottom: solid 6px $orange;
      box-sizing: border-box;
      color: $orange;
      height: 60px;
      position: absolute;
    }

    &-value {
      bottom: -8px;
      position: absolute;
      right: 0;
      font-size: 0.7rem;
      @include tablet-up {
        font-size: 1rem;
        bottom: 0px;
      }
    }
  }
}
