@import '../../variables';
@import '../../mixins';

.comparisons {
  border: solid 1px $orange;
  box-sizing: border-box;
  font-family: 'SanFranciscoText-RegularItalic';
  margin: 20px auto 0;
  max-width: 975px;
  min-height: 100px;
  margin-top: 130px;
  position: relative;
  width: 100%;
}
