@import 'variables';

.app {
  background-color: $bg-grey;
  margin: 30px;
  padding-top: 53px;

  &__body {
    margin-bottom: 100px;
  }

  &__container {
    margin: auto;
    max-width: 975px;
    position: relative;
    width: 100%;
  }
}
