@import 'variables';

.categories {
  position: absolute;
  max-width: 475px;
  width: 100%;
  right: 0;
  top: 0;
  &__container {
    align-items: flex-start;
    display: flex;
    font-family: 'SanFranciscoText-RegularItalic';
    justify-content: space-between;
    flex-grow: 1;
  }

  &__category {
    border: solid 1px $orange;
    cursor: pointer;
    width: 125px;
  }

  &__category-title {
    background-color: $trans-orange;
    border-bottom: solid 1px $orange;
    color: $orange;
    font-size: 1rem;
    height: 24px;
    line-height: 1.5rem;
    text-align: center;
  }

  &__subcategory-title {
    color: $orange;
    font-size: 1rem;
    height: 24px;
    line-height: 1.5rem;
    text-align: center;

    &--active {
      background-color: $orange;
      color: $bg-grey;
    }
  }
}
