@import 'variables';
@import 'mixins';

.categories {
  font-family: 'SanFranciscoText-RegularItalic';
  position: relative;

  @include desktop-up {
    max-width: 475px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  &__container {
    @include tablet-up {
      align-items: flex-start;
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
    }
  }

  &__category {
    border: solid 1px $orange;
    cursor: pointer;
    margin-top: 30px;
    width: 100%;

    @include tablet-up {
      max-width: 190px;
    }

    @include desktop-up {
      width: 125px;
    }
  }

  &__category-title {
    background-color: $trans-orange;
    border-bottom: solid 1px $orange;
    color: $orange;
    font-size: 1rem;
    height: 24px;
    line-height: 1.5rem;
    text-align: center;
  }

  &__subcategory-title {
    color: $orange;
    font-size: 1rem;
    height: 24px;
    line-height: 1.5rem;
    text-align: center;

    &:hover {
      background-color: $trans-orange;
    }

    &--active,
    &--active:hover {
      background-color: $orange;
      color: $bg-grey;
    }
  }
}
