@import 'variables';
@import 'mixins';

.footer {
  background: $bg-black;
  color: $dark-grey;
  font-family: 'SanFranciscoText-RegularItalic';
  text-align: center;
  @include desktop-up {
    height: 55px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__container {
    max-width: 975px;
    width: 100%;
    margin: auto;

    @include desktop-up {
      line-height: 55px;
      display: flex;
      justify-content: space-between;
    }
  }
  &__responsibility-link,
  &__attribution-link {
    color: $dark-grey;
    text-decoration: none;

    &:hover {
      opacity: 0.5;
    }
  }

  &__attribution,
  &__responsibility-link {
    padding: 20px 30px;
    display: block;

    @include desktop-up {
      padding: 0 30px;
    }
  }
}
