@import 'variables';

.header {
  &__title {
    color: $text-grey;
    font-family: $title-font;
    font-size: 2.8125rem;
    font-weight: 400;
    margin: 0 0 80px;
    text-align: center;
    width: 100%;

    &--primary {
      cursor: pointer;
      border-bottom: solid 5px $orange;
    }

    &--secondary {
      cursor: pointer;
      border-bottom: solid 5px $teal;
    }
  }
}
