@import 'normalize.css/normalize.css';
@import 'variables';

html {
  background: $bg-grey;
  height: calc(100% - 20px);
}

body {
  background: $bg-grey;
  font-family: sans-serif;
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: relative;
}

// Skip navigation link for keyboard users
.skip-nav {
  background: $orange;
  color: $bg-grey;
  font-weight: bold;
  left: 0;
  padding: 8px 16px;
  position: absolute;
  top: -100%;
  z-index: 10000;

  &:focus {
    top: 0;
  }
}

// Global focus-visible styles for keyboard navigation
:focus-visible {
  outline: 2px solid $orange;
  outline-offset: 2px;
}

// Reset for button elements used as interactive controls
button {
  appearance: none;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  text-align: inherit;
}

@font-face {
  font-family: 'SanFranciscoText-RegularItalic';
  src: url('./fonts/SanFranciscoText-RegularItalic.otf') format('opentype');
}

@font-face {
  font-family: 'SanFranciscoText-BoldItalic';
  src: url('./fonts/SanFranciscoText-BoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'SanFranciscoText-HeavyItalic';
  src: url('./fonts/SanFranciscoText-HeavyItalic.otf') format('opentype');
}

b {
  font-family: 'SanFranciscoText-HeavyItalic';
}
