@import 'variables';
@import 'mixins';

$size: 20px;

.info {
  color: $orange;
  font-family: 'SanFranciscoText-RegularItalic';
  font-size: 1rem;

  &__label {
    border: solid 1px $orange;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: $size;
    line-height: $size;
    opacity: 0.7;
    position: absolute;
    right: 0;
    text-align: center;
    top: calc(-15px - #{$size});
    width: $size;

    &:hover {
      background-color: $trans-orange;
    }
  }

  &__details {
    background-color: $bg-grey;
    bottom: 0;
    left: 0;
    margin: -1px;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% + 3px);

    @include widescreen-up {
      background-color: transparent;
      left: auto;
      margin: auto;
      position: absolute;
      right: -210px;
      top: 0;
      width: 180px;
    }
  }
}
