@import 'variables';

.top-comparisons {
  border: solid 1px $orange;
  box-sizing: border-box;
  font-family: 'SanFranciscoText-RegularItalic';
  margin: 20px auto 0;
  max-width: 975px;
  padding: 5px 25px 26px;
  width: 100%;
  position: relative;

  &__toggle-expand {
    color: $orange;
    cursor: pointer;
  }

  &__toggle-expand-container {
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }
  &__toggle-sort {
    color: $orange;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
  &__row {
    height: 60px;

    &-title {
      border-bottom: solid 12px $orange;
      box-sizing: border-box;
      color: $orange;
      display: inline-block;
      float: left;
      font-size: 1rem;
      height: 60px;
      padding-top: 17px;
      width: 160px;
      white-space: nowrap;
    }
  }

  &__row-bar {
    display: inline-block;
    height: 60px;
    width: calc(100% - 160px);
    position: relative;
    font-size: 1rem;
    line-height: 2.1rem;

    &-active,
    &-secondary {
      border-bottom: solid 6px $orange;
      box-sizing: border-box;
      color: $orange;
      height: 60px;
      position: absolute;
    }

    &-secondary {
      border-bottom: solid 6px $teal;
      height: 54px;
      color: $teal;
      line-height: 1.5rem;
    }

    &-value {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}
