@import '../../variables';
@import '../../mixins';

/* stylelint-disable */
:export {
  primary: $primary-color;
  secondary: $secondary-color;
}
/* stylelint-enable */

.map {
  display: inline-block;
  max-width: 980px;
  width: 100%;
  @include resize;
  @include desktop-up {
    &--collapsed {
      max-width: 400px;
    }
  }
}
