@import '../../variables';
@import '../../mixins';

/* stylelint-disable */
:export {
  primary: $primary-color;
  secondary: $secondary-color;
}
/* stylelint-enable */

.map {
  display: inline-block;
  max-width: 980px;
  width: 100%;
  @include fade-in;
  @include resize;
  @include desktop-up {
    &--collapsed {
      max-width: 400px;
    }
  }

  &--zoomed {
    cursor: move;
  }

  &__zoom {
    bottom: 0;
    position: absolute;
    right: 0;

    &-in,
    &-out {
      border: solid 1px $orange;
      color: $orange;
      cursor: pointer;
      display: inline-block;
      font-size: 24px;
      height: 30px;
      line-height: 28px;
      margin: 5px;
      text-align: center;
      user-select: none;
      width: 30px;
    }
  }
}
